flights-management-sapi/src/main/resources/schemas/CancellationNotification.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancellationNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PNR"/>
        <xs:element type="xs:string" name="PassengerLastName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>